@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Roboto", sans-serif;
 list-style-type: none;
 text-decoration: none;
}

header{
 position: fixed;
 width: 100%;
 top: 0;
 right: 0;
 z-index: 1000;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 6px 5%;
 background-color: #f5eaea;
 height: 75px;
}

.logo img{
 max-width: 140px;
 height: auto;
}

.navmenu{
 display: flex;
 list-style-type: none;
 text-decoration: none;

}

.navmenu a {
 padding: 10px 20px;
 color: #292929;
 text-transform: 500;
 font-weight: all .42s ease;


}

.navmenu a:hover{
 color: #cc3333;
}

.nav-icon{
 display: flex;
 align-items: center;
}

.nav-icon .btn{
 display: inline-block;
 text-transform: capitalize;
 font-size: 16px;
 font-weight: 500;
 border: 2px solid #cc3333;
 padding: 10px 30px;
 background-color: #cc3333;
 border-radius: 30px;
 color: #fff;
 letter-spacing: 1px;
 margin-right: 15px;
 transition: all .42s ease;
 list-style-type: none;
 text-decoration: none;
}

#menu-icon{
 font-size: 30px;
 color: #292929;
 z-index: 100001;
 cursor: pointer;
}

section{
 padding: 60px 12%;
}

.home{
 width: 100%;
 height: 100vh;
 background-position: center;
 background-size: cover;
 display: grid;
 grid-template-columns: repeat(2, 1fr); 
 align-items: center;
 gap: 2rem;
}

.home-img img{
 max-width: 100%;
 height: auto;
 animation: rotateImage 10s linear infinite;
}

@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.home-text h4{
 color: #cc3333;
 font-size: 20px;
 font-weight: 600;
 letter-spacing: -1px;
 font-family: poppins 'sanserif';
 margin-top: 17px;
}

.home-text h1{
 font-size: 50px;
 color: #292929;
 font-weight: 700;
 line-height: 1.2;
 margin: 23px 0;
}

.home-text h1 span{
 color: #cc3333;
 text-decoration: underline;
}
.home-text p{
 color: #666;
 font-size: 15px;
 line-height: 25px;
 font-weight: 400;
 margin-bottom: 40px;
}

.main-btn{
 display: inline-flex;
 align-items: center;
 justify-content: center;
}

.main-btn .btn1{
 display: inline-block;
 color: #fff;
 font-size: 15px;
 text-transform: capitalize;
 background-color: #cc3333;
 padding: 12px 30px;
 transition: all .42s ease;
 border-radius: 50px;
}

.main-btn .btn1:hover{
 background-color: #292929;
}

.btn2{
 font-size: 15px;
 font-weight: 500;
 color: #292929;
 display: inline-flex;
 align-items: center;
 justify-content: center;
 margin-left: 30px;
}


.btn2 span i{
 height: 40px;
 width: 40px;
 background: #cc3333;
 color: #fff;
 font-size: 20px;
 display: inline-flex;
 align-items: center;
 justify-content: center;
 border-radius: 50%;
 margin-left: 15px;
 transition: all .24s ease;
}

.btn2 span i:hover{
  transform: translateY(-5px);
}

#menu-icon{
 display: none;
}

.special__container{
  margin-bottom: -30px;
}

.special__container .section__header,
.special__container .section__description {
  max-width: 600px;
  margin-inline: auto;
  text-align: center;
}

.special__container .section__header{
  font-family: poppins 'sanserif';
  color: #cc3333;
  transition: all 0.7s ease;
}


.special__container .section__header:hover{
  color: #f5eaea;
}


.special__grid{
  margin-top: 4rem;
  display: grid;
  gap: 1rem;
  margin-bottom: -20px;
}

.special__card{
  padding: 1rem;
  text-align: center;
  border-radius: 2rem;
  transition: 0.4s;
}

.special__card:hover{
  box-shadow: 10px 10px 40px #f5a5a5;
}

.special__card img{
  max-width: 200px;
  margin-inline: auto;
  margin-bottom: 1rem;
  filter: drop-shadow(10px 10px 20px rgba(0,0,0,0.1));
  animation: pulse 1s ease infinite
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.special__card h4{
  margin-bottom: 1rem;
  font-size: 1.5rem;
  letter-spacing: -2px;
  font-weight: 700;
  color: #cc3333;
  font-family: poppins 'sanserif';
}

.special__card p{
  margin-bottom: 0,5rem;
  color: #292929;
  line-height: 1.5rem;
}


.special__ratings{
  margin-bottom: 1rem;
  font-size: 1rem;
  color: goldenrod;
}


.special__footer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


.special__footer .price{
  font-size: 1.2rem;
  font-weight: 600;
  color: #292929;
}

.special__footer .btn{
  font-size: 13px;
  color: #fff;
  text-transform: capitalize;
  background-color: #cc3333;
  padding: 11px 8px;
  transition: all .42s ease;
  border-radius: 10px;
  border: none;
  margin-left: 15px;
}
.special__footer .btn:hover{
  color: #292929;
  background-color: #fff;
}

.testimonials {
  text-align: center;
  color: #cc3333;
  font-family: poppins 'sanserif';
  overflow-x: hidden;
}

.testimonials h1{
  font-family: poppins 'sanserif';
  margin-bottom: 40px;
}

.testimonial-container {
  max-width: 100%;
  margin: auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container__right h1 {
  margin-bottom: 1rem;
  font-size: 22px;
  font-family: poppins 'sanserif';
  color: #cc3333;
  letter-spacing: -1px;
}

.container__right p {
  color: #292929;
}

.container__right button {
  font-size: 13px;
  color: #fff;
  text-transform: capitalize;
  background-color: #cc3333;
  padding: 11px 8px;
  transition: all .42s ease;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.container__right button:hover {
  background-color: #fff;
  color: #292929;
}

.container__left {
  display: grid;
  gap: 2rem;
}

.card {
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  color: #000;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  animation: fadeIn 1s ease-in-out;
  transition: 0.5s ease;
}

.card:hover{
  box-shadow: 10px 10px 40px #f5a5a5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.card img {
  max-width: 50px;
  border-radius: 100%;
}

.card__content {
  display: flex;
  gap: 10px;
}

.card__content span i {
  font-size: 14px;
  color: #cc3333;
}

.card__details p {
  font-style: italic;
  margin-bottom: 1rem;
}

.card__details h4 {
  text-align: right;
  font-size: 1rem;
  font-family: 'lobster', cursive;
  color: #cc3333;
}

.footer-container {
  max-width:100%;
  margin: auto;
}


.row {
  display: flex;
  flex-wrap: wrap;
}


ul {
  list-style: none;
}

.footer {
  background-color: #f5eaea;
  padding: 70px 0;
}


.footer-col {
  width: 25%;
  padding: 0 15px;
}


.footer-col h4 {
  font-size: 14px;
  color: #000;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col p {
  font-size: 14px;
  color: #000;
  text-transform: capitalize;
  margin-bottom: 35px;
  transition: all 0.3s ease;
}

.footer-col p:hover {
  color: #ffffff;
  padding-left: 3px;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li {
  color: #000;
  transition: all 0.3s ease;
}

.footer-col ul li:hover {
  color: #ffffff;
  padding-left: 3px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #000;
  text-decoration: none;
  font-weight: 300;
  color: #000;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #fff;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #000;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #fefefe;
  background-color: #060303;
}

.footer img{
  width: 130px;
  height: auto;
}

.container__left{
  padding-left: 78px;
}




/* Responsive design */
@media (max-width: 945px){
 header{
  padding: 20px 3%;
  transition: .3s;
 }

 .special__container{
  margin-bottom: -90px;
}
.footer {
  width: 100%;
  padding: 10px;
}
.footer-col{
  padding: 10px;
}


}

@media(max-width:1140px){
 .home{
  grid-template-columns: 1fr;
  height: 100%;
  margin-bottom: -90px;
 }

 .footer-container {
  max-width:100%;
 }

 .footer-col {
  width: 100%;
}

 header.sticky {
  background-color: #fff;
  padding: 20px 3%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home-text{
 padding-top: 50px;
 text-align: center;
}

section{
 padding: 90px 3%;
}

.home-img img{
 width: 100%;
 max-width: 600px;
}

.home-img{
 text-align: center;
}
}


@media(max-width:855px){
 #menu-icon{
  display: block;
 }

 .navmenu{
  position: absolute;
  top: 100%;
  right: -100%;
  width: 200px;
  height: 300px;
  background-color: #cc3333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 30px;
  transition: all .42s ease;
  border-radius: 20px;
 }

 .navmenu a{
  display: block;
  margin: 5px 5px;
  transition: all .42s ease;
 }

 .navmenu a:hover{
  color: #fff;
  transform: translateX(-5px);
 }

 .navmenu.open{
  right: 0;
 }

 .logo img{
  max-width: 140px;
  height: 50px;
 }

}

@media (width > 540px){
  .special__grid{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width > 1024px){
  .special__grid{
    gap: 2rem;
  }
  .special__card{
    padding: 2rem;
    border-radius: 3rem;
  }
}


